<header class="navbar">
  <div class="container">
    <a href="/" class="navbar__brand">Sunipun Talukder</a>
    
    <button class="navbar__toggle" id="navbarToggle" aria-label="Toggle navigation">
      <span class="navbar__toggle-icon"></span>
    </button>
    
    <nav class="navbar__menu" id="navbarMenu">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="/" class="navbar__link">Home</a>
        </li>
        <li class="navbar__item">
          <a href="/about.html" class="navbar__link">About</a>
        </li>
        <li class="navbar__item">
          <a href="/certifications.html" class="navbar__link navbar__link--active">Certifications</a>
        </li>
        <li class="navbar__item">
          <a href="#contact" class="navbar__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
